/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "de.classes.scss";
@import "de.elements.scss";

:root {
  --colour-lila: #91819e;
  --colour-lila-100: #7b6d86;
  --colour-lila-200: #6d6077;
  --colour-lila-300: #5a4e63;
  --colour-pink: #e74de2;
  --colour-red: #ffaaab;
  --colour-darkred: #a53e54;
  --colour-pink: #e74de2;
  --colour-dark: #616160;
  --colour-light: #fdf9f5;
  --colour-grey: #8a96a0;
  --colour-green: #419e15;
  --colour-bluegrey: #729baf;

  --colour-dark-100: #344a53;
  --colour-dark-200: #50656d;
  --colour-dark-300: #6c7c83;
  --colour-dark-400: #6c7c83;
  --colour-dark-500: #93a1a7;
  --colour-dark-600: #bfc9ce;

  --colour-orange: #c17809;
  --colour-orange-100: #ffa10b;
  --colour-orange-200: #ffb43c;
  --colour-orange-300: #ffcb77;
  --colour-orange-400: #ffe5bb;

  --colour-blue: #1976d2;
  --colour-blue-100: #2687e9;
  --colour-blue-200: #47a1fa;

  --colour-yellow: #fff59d;
  --colour-yellow-100: #fff176;
  --colour-yellow-200: #ffee58;
  --colour-yellow-300: #ffeb3b;
  --colour-yellow-400: #fdd835;
  --colour-yellow-500: #fbc02d;
  --colour-yellow-600: #f9a825;

  --colour-senf: #fbf3d0;
  --colour-senf-dark: #f6cb92;

  --nav-width: 300px;
  --hdr-height: 5.2em;
  --app-width: 1190px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.01em;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  background: var(--colour-light);
  overflow-y: auto;
  color: #333;
}

body {
  padding: 1em 4em;
  width: 100%;
  max-width: var(--app-width);
  margin: 2em auto;
  position: relative;
  background: white;
  border-radius: 12px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--colour-red);
}

input[type="text"],
input[type="password"],
input[type="email"],
select.norm,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px 24px;
  box-sizing: border-box;
  background: white;
  outline: none;
  width: 100%;
  resize: none;

  @extend .rd8, .tran-all;

  &:focus {
    outline: 4px solid var(--colour-blue-200);
  }

  &.norm {
    cursor: pointer;
  }
}

label {
  display: block;
  margin-bottom: 12px;
  margin-top: 24px;
}

.field {
  margin-top: 24px;
}

.field_with_errors {
  background: none;
  color: red;
  width: 100%;
  label {
    font-weight: bold;
  }

  label::before {
    content: "🔥 ";
  }

  input,
  textarea {
    background: pink;
  }
}

#error-explainer,
#error_explanation {
  background-color: #ff3d71;
  color: white;
  border: none;
  padding: 18px 32px;
  margin: 24px 0 24px;

  @extend .rd6;

  .title {
    color: rgba(255, 255, 255, 0.84);
    font-size: 1.2em;
    font-weight: 700;

    @extend .mb12;
  }

  ul.list {
    list-style-type: none;
    li {
      font-size: 1em;
    }
  }
}

header.main {
  text-align: center; // center on mobile
  background: rgba(255, 255, 255, 0.92);
  height: var(--hdr-height);
  top: 0;
  left: 0;
  position: sticky;
  width: 100%;
  max-width: var(--app-width);
  z-index: 100;

  .user_icon {
    padding: 0;
    width: 3em;
    line-height: 3em;
    background: var(--colour-senf-dark);
    cursor: pointer;
    margin-left: 1.2em;
    border-radius: 50%;

    p {
      color: var(--colour-senf);
      font-size: 1.2em;
      font-weight: 700;

      @extend .tac;
    }

    &:hover {
      .user_menu {
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }

    .user_menu {
      box-sizing: border-box;
      position: absolute;
      top: 4.4em;
      right: 1.4em;
      background: white;
      border-radius: 6px;
      width: 14em;
      padding: 0.8em 0 0;
      overflow: hidden;
      height: 0px;
      opacity: 0;
      visibility: hidden;

      .p {
        p {
          text-align: left;
          color: var(--colour-dark);
          font-weight: 400;
          transition: 0.1s all linear;
          line-height: 2em;
          padding: 0 1.4em;
          font-size: 1em;

          &:hover {
            background: var(--colour-senf);
          }
        }
      }

      @extend .mshd-1;
    }
  }

  .inr {
    margin: 0 auto;
    padding-top: 1.4em;
    width: calc(100% - 48px);

    .logo {
      font-size: 1.2em;
      font-weight: 300;
      text-transform: uppercase;
      color: white;
      text-shadow: 2px 0 1px rgba(0, 0, 0, 0.24);
    }

    .rt-cont {
      @extend .rt;
    }

    .lt-cont {
      @extend .lt;
    }

    .lt-cont,
    .rt-cont {
      ul.menu {
        list-style: none;

        @extend .disfl, .fldirrow;

        a {
          li {
            line-height: 2.4em;
            height: 2.4em;
            font-size: 1.2em;
            color: #333;
            display: block;
            background: transparent;
            padding: 0 1.2em;
            margin-right: 0.2em;

            @extend .rd10, .tran-all-cubic;

            &.icon-only {
              padding: 0 0.6em;
              margin-left: 0.8em;
            }

            &:hover {
              background: rgba(0, 0, 0, 0.12);
            }

            &:active {
              background: rgba(0, 0, 0, 0.24);
            }

            &:last-of-type {
              margin-right: 0px;
            }

            @extend .tran-all, .disfl, .fldirrow, .flCenter;
          }
        }
      }
    }
  }

  h1 {
    display: none;
  }

  @media (min-width: 30em) {
    text-align: left; // left align on desktop
  }
}

nav {
  width: 28%;
  background: transparent;
  padding-top: 4em;

  @extend .lt;
}

.content {
  width: calc(72% - 1em);
  padding-top: 4em;

  &.full {
    width: 100%;
  }

  @extend .rt;
}

.notice,
#notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}

main {
  width: 100%;
  margin-bottom: 3em;
}

.image {
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
