/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "de.classes.scss";

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: -0.01em;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 100%;
  background: #f6f6f6;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.2em;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--colour-red);
}

:root {
  --colour-lila: #91819e;
  --colour-lila-100: #7b6d86;
  --colour-lila-200: #6d6077;
  --colour-lila-300: #5a4e63;
  --colour-pink: #e74de2;
  --colour-red: #ffaaab;
  --colour-darkred: #a53e54;
  --colour-pink: #e74de2;
  --colour-dark: #1c313a;
  --colour-light: #ffe9d8;
  --colour-grey: #8a96a0;
  --colour-green: #419e15;
  --colour-bluegrey: #729baf;

  --colour-dark-100: #344a53;
  --colour-dark-200: #50656d;
  --colour-dark-300: #6c7c83;
  --colour-dark-400: #6c7c83;
  --colour-dark-500: #93a1a7;
  --colour-dark-600: #bfc9ce;

  --colour-orange: #c17809;
  --colour-orange-100: #ffa10b;
  --colour-orange-200: #ffb43c;
  --colour-orange-300: #ffcb77;
  --colour-orange-400: #ffe5bb;

  --colour-blue: #1976d2;
  --colour-blue-100: #2687e9;
  --colour-blue-200: #47a1fa;

  --colour-yellow: #fff59d;
  --colour-yellow-100: #fff176;
  --colour-yellow-200: #ffee58;
  --colour-yellow-300: #ffeb3b;
  --colour-yellow-400: #fdd835;
  --colour-yellow-500: #fbc02d;
  --colour-yellow-600: #f9a825;

  --nav-width: 264px;
  --hdr-height: 6.8em;
}

header.main {
  text-align: center; // center on mobile
  background: transparent;
  line-height: var(--hdr-height);
  height: var(--hdr-height);
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 100;

  .inr {
    margin: 0 auto;
    padding-top: 2em;
    width: calc(100% - 48px);

    .logo {
      font-size: 1.2em;
      font-weight: 300;
      text-transform: uppercase;
      color: white;
      text-shadow: 2px 0 1px rgba(0, 0, 0, 0.24);
    }

    .rt-cont {
      @extend .rt;
    }

    .lt-cont {
      @extend .lt;
    }

    .lt-cont,
    .rt-cont {
      ul.menu {
        list-style: none;

        @extend .disfl, .fldirrow;

        a {
          display: block;
          margin-right: 12px;

          &:last-of-type {
            margin-right: 0px;
          }

          li {
            border-radius: 1em;
            background: white;
            line-height: 48px;
            height: 48px;
            width: 48px;
            color: var(--colour-red);

            @extend .mshd-1, .tran-all, .disfl, .fldirrow, .flCenter;

            &:hover {
              @extend .mshd-4;
            }
          }
        }
      }
    }
  }

  h1 {
    display: none;
  }

  @media (min-width: 30em) {
    text-align: left; // left align on desktop
  }
}

nav {
  position: fixed;
  height: 100vh;
  width: var(--nav-width);
  left: 0;
  top: 0;
  background: white;
  margin-top: var(--hdr-height);

  ul {
    list-style: none;

    li {
      font-weight: 600;
      background: none;
      margin: 6px 24px;
      border-radius: 6px;
      padding: 12px 24px;
      cursor: pointer;

      @extend .tran-all;

      &:hover {
        background: rgba(119, 37, 37, 0.178);
      }

      a {
        color: #333;
        text-decoration: none;
      }
    }
  }
}

.content {
  margin-top: var(--hdr-height);
  width: calc(100% - var(--nav-width));
  float: right;
  display: flex;
  display: -webkit-flex;
  flex-direction: column; // mobile is horizontally laid out
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  @media (min-width: 30em) {
    flex-direction: row; // desktop is vertically laid out
    -webkit-box-orient: horizontal;
  }
}

.notice,
#notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}

#cart {
  article {
    h2 {
      margin-top: 0;
    }
    background: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.414em;
    @media (min-width: 30em) {
      margin: 0; // desktop doesn't need this margin
    }
  }
}
