@import "de.classes.scss";

.carts {
  article {
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 0 24px;
    background: var(--colour-light);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
      0 2px 8px hsla(0, 0%, 0%, 0.05);

    @extend .mb8;

    .cart-title {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.62);
      position: relative;
      background: rgba(255, 255, 255, 0.24);
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      padding: 12px 24px;

      .title-bottom {
        height: 8px;
        background: rgba(255, 255, 255, 0.24);
        bottom: 0;
        position: absolute;
        width: 100%;
        display: none;
      }
    }
  }

  .table {
    padding: 12px 24px 24px;
    padding-bottom: 0px;
  }

  table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    color: #333;
  }

  td {
    padding: 12px 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  td.quantity {
    white-space: nowrap;
  }

  td.quantity::after {
    content: " ×";
  }

  td.price {
    font-weight: bold;
    text-align: right;
  }
  tfoot {
    th,
    th.price {
      display: table-cell;
      font-weight: bold;
      padding: 0.8em 8px;
      background: rgba(255, 255, 255, 0.24);
    }

    th {
      &:first-of-type {
        text-align: left;
      }

      &:last-of-type {
        text-align: right;
      }
    }

    th.price {
      border-top: solid thin;
    }
  }

  form {
    &:first-of-type {
      display: none;
    }
  }
}
