@import "de.classes.scss";

.carts {
  width: 100%;

  article {
    box-sizing: border-box;
    padding: 0 0 24px;
    background: var(--colour-senf);
    border: 1px solid var(--colour-senf-dark);

    @extend .mb8, .rd10;

    .cart-title {
      font-weight: 600;
      color: var(--colour-dark);
      position: relative;
      padding: 1.4em 1.8em;
      padding-bottom: 0.4em;

      border-top: 1px solid rgba(0, 0, 0, 0.12);

      &:first-of-type {
        border: 0;
      }

      .title-bottom {
        display: none;
      }
    }
  }

  .table {
    padding: 12px 24px 24px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }

  table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    color: #333;
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    &:nth-last-of-type(2),
    &:last-of-type {
      border-bottom: 0;
    }

    &:last-of-type {
      background: rgba(255, 255, 255, 0.24);
    }
  }

  td {
    padding: 12px 0.5em;
  }

  td.quantity {
    white-space: nowrap;
  }

  td.quantity::after {
    content: " ×";
  }

  td.price {
    font-weight: bold;
    text-align: right;
  }
  tfoot {
    th,
    th.price {
      display: table-cell;
      margin-top: 12px;
      font-weight: bold;
      padding: 0.8em 8px;
    }

    th {
      &:first-of-type {
        text-align: left;
      }

      &:last-of-type {
        text-align: right;
      }
    }

    th.price {
      border-top: solid thin;
    }
  }
}
