@import "de.classes.scss";

.products {
  ul.catalog {
    width: calc(100% - 1px);
    list-style: none;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;

    li {
      position: relative;
      background: transparent;
      padding: 0;
      background: var(--colour-light);

      @extend .rd6, .mb8, .mshd-1;

      &::after {
        clear: both;
        content: " ";
        display: block;
      }

      img {
        width: 140px;
        margin: 24px 0 24px 24px;

        @extend .mshd-1, .rd6;
      }

      .inr {
        padding: 24px 32px;
        width: calc(100% - 180px);
        box-sizing: border-box;

        .title {
          display: block;
          font-size: 1em;
          font-weight: 700;
          margin-bottom: 12px;
          color: #333;
        }

        .desc {
          font-family: "Outfit", sans-serif;
          color: #333;
          font-size: 1em;
          font-weight: thin;
        }

        .price {
          display: block;
          box-sizing: border-box;

          .actual {
            background: var(--colour-dark);
            padding: 4px 12px;
            font-size: 1em;
            color: #fff;

            @extend .rd24;
          }
        }
      }
    }

    form,
    div {
      display: inline;
    }
  }
}
