@import "de.classes.scss";

.products {
  ul.all {
    width: calc(100% - 1px);
    list-style: none;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;

    li.a {
      position: relative;
      background: white;
      padding: 1em 2em;
      border-bottom: solid thin rgba(0, 0, 0, 0.12);

      &::after {
        clear: both;
        content: " ";
        display: block;
      }

      img {
        float: left;
        margin-right: 1em;
        border-radius: 4px;
      }

      .price {
        display: block;
        position: absolute;
        bottom: 0;
        right: 1em;
        width: calc(100% - 2em);
        background: orange;
        padding: 12px;
        box-sizing: border-box;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 59%,
          rgba(255, 255, 255, 0) 100%
        );

        .actual {
          font-size: 1.8em;
          font-weight: 700;
        }

        ul {
          list-style: none;

          a {
            display: block;
            margin-right: 12px;

            &:last-of-type {
              margin: 0;
            }

            li {
              background: transparent;
              line-height: 1;
              padding: 4px 24px;
            }
          }

          @extend .disfl, .fldirrow;
        }
      }
    }
  }
}
