@import "de.classes.scss";

.store {
  ul.catalog {
    width: calc(100% - 1px);
    list-style: none;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;

    li {
      position: relative;
      background: white;
      padding: 2em 2.8em;

      @extend .rd12, .mb24;

      &::after {
        clear: both;
        content: " ";
        display: block;
      }

      img {
        float: left;
        margin-right: 1em;
        border-radius: 4px;
      }

      .price {
        display: block;
        position: absolute;
        bottom: 1.2em;
        right: 2em;
        width: calc(100% - 4em);
        background: orange;
        padding: 12px;
        box-sizing: border-box;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 59%,
          rgba(255, 255, 255, 0) 100%
        );
        border-radius: 0 0 24px 24px;

        .actual {
          font-size: 1.8em;
          font-weight: 700;
        }
      }
    }

    form,
    div {
      display: inline;
    }
  }
}
