<article id="<%= dom_id review %>" style="margin-top:12px;border-radius:10px;border:1px solid rgba(0,0,0,.12);">
  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>
  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>
  <p>
    <strong>Product:</strong>
    <%= review.product_id %>
  </p>
</article>
